
# ----------------------------------------------
# Paramètrage pour communiquer avec le serveur du domaine
# ATTENTION: les chemins LDAP sont sensible à la casse !!
# ----------------------------------------------

# Adresse Ip du serveur IACA et controleur du domaine
AD_ServerIP	= "127.0.0.65"

# nom DNS du domaine (utilisé pour se connecter ex: domaine\prof)
AD_Domain = "Contoso"

# Chemin de la racine LDAP
AD_Chemin = "DC=LYC-CONTOSO-99,DC=fr"

# Chemin de l'UO contenant les eleves
AD_OU_ELEVES = "OU=ELEVES,OU=Users,OU=Site par défaut,OU=IACA,${AD_Chemin}"

# Chemin de l'UO contenant les profs, 
# ou liste d'utilisateurs autorisé a changer des mdps, séparés par des |
AD_OU_PROF = "OU=PROFS,OU=Users,OU=Site par défaut,OU=IACA,${AD_Chemin}|OU=AED,OU=Users,OU=Site par défaut,OU=IACA,${AD_Chemin}"

# Chemin de l'UO contenant les comptes examens,
# pas encore fonctionnel
AD_OU_EXAMEN = "OU=EXAMEN,OU=Users,OU=Site par défaut,OU=IACA,${AD_Chemin}"

# utilisateur qui est autorisé a acceder à certaines parties de l'appli
AD_OU_GURU = "CN=admin1,OU=ADMINMOD,OU=Users,OU=Site par défaut,OU=IACA,${AD_Chemin}"

# Liste de groupes classes a ne pas afficher
AD_Grp_Cache = "EXAMEN|UTILISATEURS PARTICULIERS|TEST"

# compte utilisateur du domaine (type "opérateur de comptes") autorisé a modifier l'ad
# sert juste pour imposer le changement de mot de passe aux eleves
AD_UserGest = "svc-account_that_mark_password_as_expired"


# ----------------------------------------------
# Contrôle l'accès aux différentes parties de l'application
# utiliser une des valeurs suivantes pour le niveau minimum requis: 
# 'TERENCE' (autorise personne) < 'ELEVE' < 'PROF' < 'GURU' (compte admin)
# ----------------------------------------------

# Accès à l'aide décrivant l'appli
ACL_AfficherMenuAide = PROF

# Accès à la liste des comptes qui n'ont pas encore servis
ACL_AfficherMenuListeTemporaire = GURU

# Accès à la page pour générer des comptes examens ou invités (WIP)
ACL_AfficherMenuCompteExams = NOBODY

# Accès au journal d'evenement
ACL_AfficherMenuJournal = GURU

# Accès au profil pour changer son mdp
ACL_AfficherMenuProfilProf = ELEVE

# Permettre d'afficher tous les mdp d'une page (inutilisable avec mdp masqués)
ACL_AfficherBoutonVoirTous = TERENCE

# Activer le générateur de pass-phrase dans la page profil, et le popup
ACL_AfficherPassPhrase = ELEVE


# ----------------------------------------------
# Comportement de l'appli
# ----------------------------------------------

# Duree en secondes de la session avant deconnexion automatique
DECONNEXION_SESSION_INACTIVE = 300

# Forcer par défaut la case 'le mot de passe devra être changé'
CocherMDPtmp = false

# Adresse URL du lien 'Aide pour la création de mots de passes', 
# ne rien mettre pour le masquer
URLAideCreation = https://www.cnil.fr/fr/les-conseils-de-la-cnil-pour-un-bon-mot-de-passe
